


{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Full Screen background image</title>

	<style type="text/css">
		
		body{
			background-image:url('https://wallpaperaccess.com/full/624111.jpg') ;
			background-size: cover;
			background-attachment: fixed;
		}

		.content{
			background: white;
			width: 60%;
			padding: 40px;
			margin: 100px auto;
			font-family: calibri;
			border-radius: 10px;
		}

		p{
			font-size: 25px;
			color: black;
		}

	</style>
</head>
<body>

   <div class="content">
   	  
   	  
       <p>
        Diabetes is a chronic, metabolic disease characterized by elevated levels of blood glucose (or blood sugar), which leads over time to serious damage to the heart, blood vessels, eyes, kidneys and nerves. The most common is type 2 diabetes, usually in adults, which occurs when the body becomes resistant to insulin or doesn't make enough insulin. In the past three decades the prevalence of type 2 diabetes has risen dramatically in countries of all income levels. Type 1 diabetes, once known as juvenile diabetes or insulin-dependent diabetes, is a chronic condition in which the pancreas produces little or no insulin by itself. For people living with diabetes, access to affordable treatment, including insulin, is critical to their survival. There is a globally agreed target to halt the rise in diabetes and obesity by 2025.
   	  </p>
   	   <p>
   	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   	  </p>
   	   <p>
   	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   	  </p>
   	   <p>
   	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   	  </p>
   	   <p>
   	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   	  </p>
   </div>
  
</body>
</html>



{% endblock content %}